* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: goldenrod;
    padding: 10px 20px;
    color: white;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin: 0 10px;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.barra-busqueda {
    display: flex;
}

.barra-busqueda input {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.hamburguesa {
    display: none;
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .hamburguesa {
        display: block;
    }

    .barra-busqueda {
        margin: auto;
    }
}

@media (max-width: 480px) {
    .menu, .barra-busqueda {
        display: none;
    }
}