/*https://coolors.co/palette/d8f3dc-b7e4c7-95d5b2-74c69d-52b788-40916c-2d6a4f-1b4332-081c15*/

@font-face {
    font-family: 'The Last Shuriken';
    src: url('letra_fuentes/The\ Last\ Shuriken.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'The Last Shuriken', sans-serif;
}

body{
    background-color: #B7E4C7;
}

h1{
    margin-top: 3%;
    text-align: center;
}

h2{
    margin-top: 4%;
    text-align: left;
}

main div{
    justify-self: center;
    align-items: center;
}

.boton {
    background-color: #081C15;
    color: white;
    padding: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    transition: 0.1s ease;
}

.boton:hover {
    background-color: #1B4332;
    transform: scale(1.1);
}


.principal{
    background-color: #52B788;
    margin: 1%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
    border-radius: 10px;
}

.principal form{
    justify-self: left;
    align-items: center;
}


#tareaInput{
    padding: 30px;
    padding-right: 130px;
    border: none;
    border-radius: 5px;
}

.boton_eliminar {
    background-color: #081C15;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    transition: 0.1s ease;
}

.boton_eliminar:hover {
    background-color: #1B4332;
    transform: scale(1.1);
}


.lista{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task{
    display: flex;
    gap: 20px;
    background-color: #D8F3DC;
    margin: 1%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
    border-radius: 10px;
}

.task button{
    background-color: #081C15;
    color: white;
    padding: 5px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    transition: 0.1s ease;
}

.task button:hover {
    background-color: #1B4332;
}

